<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>977437635384-6bl1gs9kec91siu0djssgbep6r5bia76.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.977437635384-6bl1gs9kec91siu0djssgbep6r5bia76</string>
	<key>API_KEY</key>
	<string>AIzaSyAnz8pAA6Tb2Z8fersDv3IHawqF4mu3tEo</string>
	<key>GCM_SENDER_ID</key>
	<string>977437635384</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>tech.penginmura.LifeGameApp</string>
	<key>PROJECT_ID</key>
	<string>lifegame-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>lifegame-dev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:977437635384:ios:700e52643dc04e9365c7cd</string>
	<key>DATABASE_URL</key>
	<string>https://lifegame-dev.firebaseio.com</string>
</dict>
</plist>